{% assign sidebar = site.data.sidebars[page.sidebar].entries %}
<ul id="mysidebar" class="nav">
  <li class="sidebarTitle">{{sidebar[0].product}} {{sidebar[0].version}}</li>
  {% for entry in sidebar %}
  {% for folder in entry.folders %}
  {% if folder.output contains "web" %}
  {% if page.permalink == folder.url %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    {% if folder.url %}
    {% unless folder.folderitems %}
    <a class="no-folderitems" title="" href="{{folder.url | relative_url }}">{{folder.title}}</a>
    {% else %}
    <a title="" href="{{folder.url | relative_url }}">{{folder.title}}</a>
    {% endunless %}
    {% elsif folder.external_url %}
    <a class="no-folderitems" title="" href="{{folder.external_url }}" target="_blank">{{folder.title}}</a>
    {% else %}
    <a title="" href="#">{{folder.title}}</a>
    {% endif %}
      <ul>
        {% for folderitem in folder.folderitems %}
          {% if folderitem.output contains "web" %}
	  {% if folderitem.type == "subfolder" %}

	  {% if page.permalink == folderitem.url %}
          <li class="subfolders active">
	    {% else %}
	    <li class="subfolders">
	    {% endif %} <!-- if page.permalink == folderitem.url -->
	    
              <a title="" href="{{ folderitem.url | relative_url }}">{{ folderitem.title }}</a>
              <ul>
                  {% for subfolderitem in folderitem.subfolderitems %}
                  {% if subfolderitem.output contains "web" %}
                  {% if subfolderitem.external_url %}
                  <li><a title="" href="{{subfolderitem.external_url}}" target="_blank" rel="noopener">{{subfolderitem.title}}</a></li>
                  {% elsif page.permalink == subfolderitem.url %}
                  <li class="active"><a title="" href="{{ subfolderitem.url | relative_url }}">{{subfolderitem.title}}</a></li>
                  {% else %}
                  <li><a title="" href="{{ subfolderitem.url | relative_url }}">{{subfolderitem.title}}</a></li>
                  {% endif %} <!-- if subfolderitem.external_url -->
                  {% endif %} <!-- if subfolderitem.output contains "web" -->
                  {% endfor %} <!-- for subfolderitem in folderitem.subfolderitems -->
              </ul>
          </li>
          {% elsif folderitem.external_url %}
          <li><a title="" href="{{folderitem.external_url}}" target="_blank" rel="noopener">{{folderitem.title}}</a></li>
          {% elsif page.permalink == folderitem.url %}
          <li class="active"><a title="" href="{{ folderitem.url | relative_url }}">{{folderitem.title}}</a></li>
          {% elsif folderitem.type == "empty" %}
          <li><a title="" href="{{ folderitem.url | relative_url }}">{{folderitem.title}}</a></li>

          {% else %}
          <li><a title="" href="{{ folderitem.url | relative_url }}">{{folderitem.title}}</a></li>

	  {% endif %} <!-- if folderitem.type == "subfolder" -->
          {% endif %} <!-- if folderitem.output contains "web" -->
          {% endfor %} <!-- for folderitem in folder.folderitems -->
      </ul>
   </li>
     {% endif %}
      {% endfor %}
      {% endfor %}
      <!-- if you aren't using the accordion, uncomment this block:
         <p class="external">
             <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
         </p>
         -->
</ul>

<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("li.active").parents('li').toggleClass("active");</script>

